<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (back-button-click)="onBackButtonClick($event)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      BoardPage
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="bar" slot="fixed">
    <div class="group" *ngFor="let group of groups" (click)="onCharClick(group)">
      <span class="char">{{ group.char }}</span>
    </div>
  </div>
  <ion-list class="list">
    <ng-container *ngFor="let group of groups">
      <ion-item class="board" *ngFor="let board of group.boards" [ngClass]="group.char" (click)="onBoardClick(board)">
        <ion-label>
          <div class="line-1">
            <span class="initials">{{ '/' + board.board + '/' }}</span>
            <span class="title">{{ board.title }}</span>
          </div>
          <div class="line-2">
            <span class="description" [innerHTML]="board.meta_description"></span>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>