ion-content {
    div.bar {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll;
        scroll-behavior: smooth;
        border-right: lightgrey solid 1px;

        >div.group {
            margin: auto;
        }
    }

    ion-list {
        background: transparent;
        padding-top: 0px;
        margin-left: 10%;

        ion-item {
            --background: transparent;
            --padding-start: 0px;
            --inner-padding-end: 0px;

            ion-card {
                --fchan-color-post-title-background: var(--fchan-color-post-title-background-nws);
                --fchan-color-post-title-text-title: var(--fchan-color-post-title-text-title-nws);
                --fchan-color-post-content-background: var(--fchan-color-post-content-background-nws);
                --fchan-color-post-content-text-body: var(--fchan-color-post-content-text-body-nws);

                &.worksafe {
                    --fchan-color-post-title-background: var(--fchan-color-post-title-background-ws);
                    --fchan-color-post-title-text-title: var(--fchan-color-post-title-text-title-ws);
                    --fchan-color-post-content-background: var(--fchan-color-post-content-background-ws);
                    --fchan-color-post-content-text-body: var(--fchan-color-post-content-text-body-ws);
                }

                ion-card-header {
                    background: var(--fchan-color-post-title-background);
                    padding: 13px;

                    ion-card-title {
                        span.title {
                            color: var(--fchan-color-post-title-text-title);
                        }
                    }
                }

                ion-card-content {
                    background: var(--fchan-color-post-content-background);
                    padding: 13px;

                    span.content {
                        color: var(--fchan-color-post-content-text-body);
                    }
                }
            }
        }
    }
}