ion-content {
    div.bar {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll;
        scroll-behavior: smooth;

        >div.group {
            margin: auto;

            >span.char {}
        }
    }

    ion-list.list {
        margin-left: 10%;

        >ion-item.board {
            >ion-label {
                >div.line-1 {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    font-weight: bold;

                    >span.initials {
                        width: 20%;
                        flex-grow: 1;
                    }

                    >span.title {
                        width: 80%;
                        flex-grow: 4;
                    }
                }

                >div.line-2 {
                    display: flex;
                    text-align: center;

                    >.description {
                        font-size: smaller;
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }
}