<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (back-button-click)="onBackButtonClick($event)">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      BoardPage
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="bar" slot="fixed">
    <div class="group" *ngFor="let group of groups" (click)="onCharClick(group)">
      <span class="char">{{ group.char }}</span>
    </div>
  </div>
  <ion-list class="list">
    <ng-container *ngFor="let group of groups">
      <ion-item class="board" lines="none" *ngFor="let board of group.boards" [ngClass]="group.char" (click)="onBoardClick(board)">
        <ion-card [ngClass]="{ 'worksafe': board.ws_board === 1 }">
          <ion-card-header>
            <ion-card-title>
              <span class="title">{{ '/' + board.board + '/ - ' + board.title }}</span>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span class="content" [innerHTML]="board.meta_description"></span>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>