div.comment-container {
    --fchan-color-post-content-text-body: var(--fchan-color-post-content-text-body-nws);
    --fchan-color-post-content-text-link: var(--fchan-color-post-content-text-link-nws);

    &.worksafe {
        --fchan-color-post-content-text-body: var(--fchan-color-post-content-text-body-ws);
        --fchan-color-post-content-text-link: var(--fchan-color-post-content-text-link-ws);
    }

    color: var(--fchan-color-post-content-text-body);

    a {
        color: var(--fchan-color-post-content-text-link);
        text-decoration-line: underline;
    }

    span.deadlink {
        color: red;
    }

    span.quote {
        color: #789922;
    }

    s {
        background: #000;
        color: #fff;
        text-decoration: none;

        &.hidden,
        &.hidden * {
            background: #000;
            color: #000;
        }
    }
}