div.comment-container {
    a.quotelink {
        color: blue;
    }

    span.deadlink {
        color: red;
    }

    span.quote {
        color: #789922;
    }

    s.hidden {
        color: #000 !important;
        background: #000 !important;
        text-decoration: none;
    }
}