<ion-header *ngIf="overlay">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseClick()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      PostComponent
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card (click)="onPostClick()" [ngClass]="{ 'overlay': overlay }">
  <media-component [board]="board" [media]="post" [initialize]="overlay"></media-component>
  <ion-card-header *ngIf="post.sub">
    <ion-card-title>
      <comment-component
       [comment]="post.sub"
       (reference-click)="onReferenceClick($event)">
      </comment-component>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="post.com">
    <comment-component
     [comment]="post.com"
     (reference-click)="onReferenceClick($event)">
    </comment-component>
  </ion-card-content>
</ion-card>