div.media-container {
    display: flex;
    justify-content: center;

    >img {
        max-width: 100%;
        height: auto;
    }

    >video {
        max-width: 100%;
        height: auto;
    }
}