<div class="media-container" *ngIf="status !== 'undefined'" (viewport-visibility-change)="onMediaVisibilityChange($event)" [unsubscribe-when-visible]="true" [ngClass]="{ 'worksafe': board.ws_board === 1 }">
  <img *ngIf="!visible" [width]="media.w" [height]="media.h">
  <img *ngIf="visible && status !== 'loaded'" [width]="media.w" [height]="media.h" [src]="srct" (click)="onMediaClick()">
  <ng-container *ngIf="type === 'img'">
    <img *ngIf="status === 'loaded'" [width]="media.w" [height]="media.h" [src]="src">
  </ng-container>
  <ng-container *ngIf="type === 'video'">
    <video *ngIf="status === 'loaded'" [width]="media.w" [height]="media.h" [poster]="srct" controls>
      <source [src]="src">
    </video>
  </ng-container>
  <ng-container *ngIf="type === 'flash'">
    <embed *ngIf="status === 'loaded'" allowscriptaccess="never" type="application/x-shockwave-flash" [width]="media.w" [height]="media.h" [src]="src">
  </ng-container>
</div>