ion-content {
    div.bar {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow-y: scroll;
        scroll-behavior: smooth;

        >div.group {
            margin: auto;

            >span.char {}
        }
    }

    div.list {
        margin-left: 10%;

        >div.board {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            >span.initials {
                position: absolute;
                left: 15%;
            }

            >span.title {
                margin-left: 15%;
            }
        }
    }
}